volumes:
  node_modules:

services:
  app:
    build:
      context: .
      dockerfile: ./infra/docker/node/Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    working_dir: /workspace
    ports:
      - "5173:5173"
    environment:
      - VITE_HOST=0.0.0.0
    volumes:
      - type: bind
        source: ./frontend
        target: /workspace
    command: npm run dev -- --host 0.0.0.0
    stdin_open: true
    tty: true
